@inherits LayoutComponentBase

<MudThemeProvider />

<MudDialogProvider />

<div class="navbar">
    <NavMenu />
</div>
<div class="page" id="home">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
