@inherits LayoutComponentBase
<div class="navbar sticky-top">
    <NavMenu />
</div>
<div class="page bg-dark" id="home">
    <main>
        <article class="content">
            @Body
        </article>
    </main>
</div>
