
<h1>Portfolio</h1>
<nav class="d-flex flex-row">
    <button class="nav-item nav-link" onclick="document.getElementById('about-me').scrollIntoView({behavior:'smooth',block:'center'})">
        Who am i
    </button>
    <button class="nav-item nav-link" onclick="document.getElementById('competences').scrollIntoView({behavior:'smooth',block:'center'})">
        Skills
    </button>
    <button class="nav-item nav-link" onclick="document.getElementById('projects').scrollIntoView({behavior:'smooth',block:'center'})">
        Projects
    </button>
</nav>

@code {
}
