
<nav class="d-flex flex-row">
    <button class="nav-item" onclick="document.getElementById('welcome').scrollIntoView({behavior:'smooth',block:'center'})">
        <span class="oi oi-home" aria-hidden="true"></span> Home
    </button>
    <button class="nav-item nav-link" onclick="document.getElementById('about-me').scrollIntoView({behavior:'smooth',block:'center'})">
        <span class="oi oi-plus" aria-hidden="true"></span> Who am i
    </button>
    <button class="nav-item nav-link" onclick="document.getElementById('interests').scrollIntoView({behavior:'smooth',block:'center'})">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Interests
    </button>
    <button class="nav-item nav-link" onclick="document.getElementById('projects').scrollIntoView({behavior:'smooth',block:'center'})">
        <span class="oi oi-list-rich" aria-hidden="true"></span> Projects
    </button>
</nav>

@code {
}
