
<h1>Welcome to my portfolio!</h1>

<div style="display:flex;">
    <div class="about-me-info">


        <p>
            Hi! I'm Aro Randriamanantena, 20 years old and I come from Madagascar.
            Since I was young, I have been fascinated by animation and games, that's why
            I still cherish my childhood summer memories of when I played my PS2 all day long.
            This fascination is what led me towards computer science and software development.
        </p>


        <p>
            After obtaining my general baccalaureate in 2021 at the Peter Pan high school
            in Antananarivo, I decided to continue my studies in computer science and that's why
            I came to France and joined the BUT Informatique at the IUT Lyon 1 in September of
            the same year, where I specialized in the design, development and validation of applications.
            My curiosity for the field of computer science continues to grow, which is why my goal
            is to continue my studies in a master's degree in artificial intelligence, in operational
            research or in imaging and 3D.
        </p>


    </div>

    <img class="pic-of-me" src="./assets/img/Me!.jpg" alt="It's a picture of me" />
</div>
@code {


}

<style>
    .pic-of-me {
        max-width: 20rem;
        height: fit-content;
        align-self: center;
        border-radius: 100%;
    }

    .about-me-info{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        text-align: justify;
    }

    .about-me-info p {
        padding-right:10%;
    }
</style>