@page "/"

<PageTitle>Portfolio</PageTitle>

<div id="about-me" style="height:100vh;" class="section">
    <AboutMe />
</div>
<div class="section">
    <Timeline />
</div>

<div id="competences" class="section">
    <Competences />
</div>

<div id="projects" class="section">
    <Projects />
</div>

<style>
    body {
        background-color: beige;
        color: black;
        font-size: 1.25em;
    }


    .section {
        padding-top: 5%;
        padding-top: 5%;
        padding-left: 15%;
        padding-right: 15%;
        align-content: center;
    }

    #about-me {
    }

</style>

<style>

    .card {
        background-color: white;
        transition: filter 0.5s;
        margin: 1%;
    }

    .card-img-top {
        align-content: center;
    }

    .card-games .card-img-top {
        border: solid yellow 2px;
    }

    .card-games:hover {
        filter: drop-shadow(15px 10px 0px #44d) drop-shadow(30px 20px 0px #4dd);
    }

    .card-animes:hover {
        box-shadow: inset 0px 0px 40px 40px #DBA632;
    }

    .card-animes .card-img-top {
        border: dashed #515151 2px;
    }

</style>