@page "/"

<PageTitle>Portfolio</PageTitle>

<div id="about-me" class="section">
    <AboutMe />
</div>

<div id="competences" class="section">
    <Competences />
</div>

<div id="interests" class="section">
    <Interests />
</div>

<style>
    body {
        background-color: beige;
        color: black;
        font-size: 1.25em;
    }
    

    .section {
        height:100vh;
        padding:10%;
        align-content: center;
    }

    #about-me {
    }

</style>

<style>

    .card {
        background-color: transparent;
        transition: filter 0.5s;
    }

    .card-img-top {
        height: 100%;
        align-content: center;
    }

    .card-games .card-img-top {
        border: solid yellow 2px;
    }

    .card-games:hover {
        filter: drop-shadow(15px 10px 0px #44d) drop-shadow(30px 20px 0px #4dd);
    }

    .card-animes:hover {
        box-shadow: inset 0px 0px 40px 40px #DBA632;
    }

    .card-animes .card-img-top {
        border: dashed #515151 2px;
    }

</style>