<div class="card @card_class" style="width: 18rem; ">

    <h5 class="card-title">@title</h5>
    <div class="card-img-top">
        <img src="@image_path" alt="..." style="width:100%;">
    </div>
</div>
@code {
    [Parameter] public string? image_path { get; set; }
    [Parameter] public string? title { get; set; }
    [Parameter] public string? card_class { get; set; }

    public class CardClass
    {
        public const string GAME = "card-games";
        public const string ANIME = "card-animes";
    }

}

